<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Background_Changer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Background_Changer.Properties.Settings>
            <setting name="WallpaperStyle" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ChangeInterval" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="EnableScheduler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentView" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>1456, 720</value>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>200, 150</value>
            </setting>
            <setting name="MainState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DetailsSize" serializeAs="String">
                <value>1140, 720</value>
            </setting>
            <setting name="DetailsLocation" serializeAs="String">
                <value>250, 200</value>
            </setting>
            <setting name="DetailsState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Background_Changer.Properties.Settings>
    </userSettings>
</configuration>